apiVersion: v1
kind: Namespace
metadata:
  name: mywebsite-prod
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: mywebsite-prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        # Cập nhật đúng User Docker Hub
        image: hoatrancntt/mywebsite-backend:latest
        ports:
        - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: backend-svc
  namespace: mywebsite-prod
spec:
  type: NodePort
  selector:
    app: backend
  ports:
  - port: 3000
    targetPort: 3000
    nodePort: 30001  # Cổng Backend
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: mywebsite-prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        # Cập nhật đúng User Docker Hub
        image: hoatrancntt/mywebsite-frontend:latest
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-svc
  namespace: mywebsite-prod
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30002  # Cổng Frontend
